/* sfondo scuro e scritte bianche globale */
html, body {
    background-color: #1e1e1e;
    color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6,
p, label, li, a, th, td, strong {
    color: #ffffff !important;
}

/* rendo tutti i box di Bulma scuri */
.box, .notification, .card {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border-color: #3a3a3a;
}

/* Sezioni e container */
.section, .container {
    background-color: transparent; /* lascia il body sotto visibile */
    color: #f5f5f5;
}

.button {
    background-color: #444;
    color: #f0f0f0;
    border: none;
}

/* Tabelle */
.table {
    background-color: #3a3a3a;
    color: #575757;
}

.table th, .table td {
    border-color: #4a4a4a;
}

/* bottoni generali*/
.projs__inf {
    background-color: #3b5a76 !important;
    background-image: none !important;
    color: #ffffff !important;
    text-align: center;
    transition: background-color 0.2s ease;
}

.projs__inf:hover {
    background-color: #6c94bc!important;
    color: #ffffff !important;
}

